.departement-container {
    margin: .1rem 1rem;

    h2 {
        background-color: #fff;
        padding: 1rem;
        border-radius: .4rem;
    }

    .btn-blue {
        background-color: #17202A;
        color: #fff;
        padding: .4rem;
        outline: none;
        border: none;
        border-radius: .3rem;
        cursor: pointer;
    }
}

@media (max-width: 500px) {
    .departement-container {
        margin: 1rem .5rem;
    }
}

@media (max-width: 400px) {
    .departement-container {
        h2 {
            font-size: 1rem;
        }
    }
}