.details {
    margin: 1rem 1rem;

    h2 {
        background-color: #fff;
        padding: 1rem;
        border-radius: .4rem;
    }

    .facture {
        margin: 1rem 0;
        background-color: #fff;
        padding: 1rem;

        .num {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            .seq {
                display: flex;
                gap: .8rem;
                flex-wrap: wrap;
            }
        }
    }

    .infos {
        margin: 1rem 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;

        .clinique {
            h1 {
                color: yellowgreen;
                font-weight: 700;
                font-size: 2.5rem;
            }
        }

        .patient {
            h4 {
                font-weight: bolder;
                font-size: .9rem;
                color: black;
            }

            h5 {
                color: rgb(125, 125, 145);
            }

            .pCare {
                margin: .6rem 0;
            }
        }
    }
}