.agenda {
    margin: .1rem 1rem;

    h1,
    h2 {
        color: rgba(18, 3, 32, 0.664);
    }

    .agenda-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .filtre {
        margin: 1rem 0;

        select {
            padding: .6rem 2rem;
            outline: none;
            width: 20rem;
            border-radius: .5rem;
            border: rgb(131, 88, 172) .1px solid;
            cursor: pointer;
            font-size: 18px;
        }
    }

    .addEvent {
        input {
            padding: .4rem;
        }

        .addDate {
            display: flex;
            align-items: center;
            gap: .5rem;
        }

        .btn-add {
            background-color: blueviolet;
            color: #fff;
            padding: .5rem;
            border: none;
            border-radius: .2rem;
            cursor: pointer;
        }
    }

    .calendrier {
        margin-top: 3rem;
        background-color: white;
    }
}