.patient-container {
    margin: .1rem 2rem;

    h2 {
        background-color: #fff;
        padding: 1rem;
        border-radius: .4rem;
    }



    .btn-blue {
        background-color: #17202A;
        color: #fff;
        padding: .7rem;
        outline: none;
        border: none;
        border-radius: .3rem;
        cursor: pointer;
    }
}