.home-container {
    margin-left: 15%;
    padding: 1rem 0;
    background-color: whitesmoke;

    .stats {
        margin: 1rem 1rem;

        .parents {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;

            .box {
                background-color: white;
                border-radius: .4rem;
                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.253);

                h3 {
                    font-size: 24px;
                    font-weight: 800;
                }

                .box-top {
                    padding: 2rem 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .i-user {
                        color: rgba(0, 0, 255, 0.562);
                        font-size: 40px;
                    }
                }

                &:hover {
                    box-shadow: 8px 7px 9px rgba(0, 0, 0, 0.253);
                    transition: all .6s;

                    .box-bot1 {
                        background-color: blue;
                    }

                    .box-bot2 {
                        background-color: red;
                    }

                    h3 {
                        transform: translate(45);
                    }
                }

                .box-bot1 {
                    background-color: rgba(137, 43, 226, 0.507);
                    border-radius: 0 0 .4rem .4rem;
                }

                .box-bot2 {
                    background-color: rgba(255, 0, 0, 0.452);
                    border-radius: 0 0 .4rem .4rem;
                }

                .box-bot3 {
                    background-color: rgba(255, 255, 0, 0.486);
                    border-radius: 0 0 .4rem .4rem;
                }

                .box-bot4 {
                    background-color: rgba(0, 0, 0, 0.699);
                    border-radius: 0 0 .4rem .4rem;
                }

                .box-bot5 {
                    background-color: rgba(128, 128, 128, 0.623);
                    border-radius: 0 0 .4rem .4rem;
                }

                .box-bot6 {
                    background-color: rgba(210, 105, 30, 0.589);
                    border-radius: 0 0 .4rem .4rem;
                }

                .box-bot7 {
                    background-color: rgba(0, 128, 0, 0.575);
                    border-radius: 0 0 .4rem .4rem;
                }

                .box-bot8 {
                    background-color: rgba(255, 166, 0, 0.589);
                    border-radius: 0 0 .4rem .4rem;
                }

                .box-bot9 {
                    background-color: rgba(95, 158, 160, 0.603);
                    border-radius: 0 0 .4rem .4rem;
                }
            }
        }
    }
}