.h2 {
    margin: 1rem 3.2rem 1rem 2rem;
    background-color: white;
    padding: .8rem;
    border-radius: .2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .backs {
        background-color: #17202A;
        color: #fff;
        padding: .4rem;
        outline: none;
        border: none;
        border-radius: .3rem;
        cursor: pointer;

        a {
            color: #fff;
        }
    }
}

.h {
    background-color: white;
    border-radius: .3rem;
    padding: 1rem;
    margin: 1rem 3.2rem 1rem 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;

    h5 {
        color: rgb(118, 118, 143);
        width: max-content;
        margin-top: .3rem;
        border-radius: .2rem;

        &::after {
            content: "]";
            padding: .4rem;
        }

        &::before {
            content: "[";
            padding: .4rem;
        }
    }
}

.event {
    margin: 1rem 2rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    h5 {
        // background-color: #2c3e50bd;
        color: rgb(118, 118, 143);
        border: .1px solid rgb(118, 118, 143);
        width: max-content;
        margin-bottom: .4rem;
        border-radius: .2rem;
        padding: .5rem;
    }

    h4 {
        &::after {
            content: ":";
            padding: .4rem;
        }


    }

    .desc {
        width: 56%;

        .desc1 {
            background-color: white;
            padding: 1rem;
            display: flex;
            gap: 1rem;
            align-items: center;

            h5 {
                margin-top: .5rem;
            }
        }


    }

    .date {
        width: 40%;

        .dte {
            background-color: white;
            padding: 1rem;
            display: flex;
            gap: 1rem;
            align-items: center;

            h5 {
                margin-top: .5rem;
            }
        }

        .dt {
            background-color: white;
            padding: 1rem;
        }

        .exe {
            background-color: #fff;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: .5rem 0;
            flex-wrap: wrap;
            margin-top: .5rem;

            button {
                padding: .4rem;
                background-color: #17202A;
                color: #fff;
                margin: .5rem 1rem;
                border-radius: .3rem;
                font-size: 1rem;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 1153px) {
    .event {

        .date {
            .dte {
                display: block;
            }
        }
    }
}

@media (max-width: 900px) {
    .event {
        .desc {
            .desc1 {
                display: block;
            }
        }

        .date {
            .dte {
                display: block;
            }
        }
    }
}

@media (max-width: 800px) {
    .event {
        display: block;

        .desc {
            width: 95%;
        }

        .date {
            width: 95%;
        }
    }
}

@media (max-width: 600px) {
    .h {
        h5 {
            font-size: 14px;
        }
    }

    .event {

        .desc {
            .desc1 {
                h5 {
                    font-size: 13px;
                }
            }
        }

        .date {
            .dte {
                h5 {
                    font-size: 13px;
                }
            }

            .dt {
                h5 {
                    font-size: 13px;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .h2 {
        font-size: 1rem;
    }

    .h {
        h5 {
            font-size: 12px;
        }
    }

    .event {

        .desc {
            .desc1 {
                h5 {
                    font-size: 11px;
                }
            }
        }

        .date {
            .dte {
                h5 {
                    font-size: 11px;
                }
            }

            .dt {
                h5 {
                    font-size: 11px;
                }
            }
        }
    }
}