.h2 {
    margin: 1rem 3.2rem 1rem 2rem;
    background-color: white;
    padding: .8rem;
    border-radius: .2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .backs {
        background-color: #17202A;
        color: #fff;
        padding: .4rem;
        outline: none;
        border: none;
        border-radius: .3rem;
        cursor: pointer;

        a {
            color: #fff;
        }
    }
}

.h {
    background-color: white;
    border-radius: .3rem;
    padding: 1rem;
    margin: 1rem 3.2rem 1rem 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;

    h5 {
        color: rgb(118, 118, 143);
        width: max-content;
        margin-top: .3rem;
        border-radius: .2rem;

        &::after {
            content: "]";
            padding: .4rem;
        }

        &::before {
            content: "[";
            padding: .4rem;
        }
    }
}

.event {
    margin: 1rem 3rem 1rem 2rem;
    background-color: #fff;
    padding: 1rem;

    .desc1 {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
        margin: .7rem 0;

        h4 {
            font-size: .9rem;
            font-weight: bold;

            &::after {
                content: ':';
                padding: .4rem;
            }
        }

        h5 {
            color: rgb(118, 118, 143);
            width: max-content;
        }
    }

    .exe {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1.5rem;

        button {
            background-color: #17202A;
            color: #fff;
            padding: .4rem;
            border-radius: .4rem;
            outline: none;
            border: none;
            font-size: 1rem;
            cursor: pointer;

            &:hover {
                background-color: yellowgreen;
                transition: .3s all;
            }
        }
    }
}

@media (max-width: 1070px) {
    .h2 {
        font-size: 1.3rem;
    }

    .h {
        font-size: 1.1rem;

        h5 {
            font-size: 1.1rem;
        }
    }
}

@media (max-width: 600px) {
    .h2 {
        font-size: 1.1rem;
    }

    .h {
        font-size: 1rem;

        h5 {
            font-size: 1rem;
        }
    }
}

@media (max-width: 500px) {
    .event {
        margin: 1rem 3rem 1rem 2rem;
        background-color: #fff;
        padding: 1rem;

        .desc1 {

            h4 {
                font-size: .8rem;
            }

            h5 {
                font-size: .7rem;
            }
        }

        .exe {

            button {
                font-size: .9rem;
            }
        }
    }
}

@media (max-width: 400px) {
    .h2 {
        font-size: .9rem;
    }
}