.modalAdd {
    width: 50vw;
    height: 50vh;
    position: fixed;
    left: 50%;
    transform: translate(-40%, 25%);
    top: 5rem;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    .modalContainer {
        width: 500px;
        height: 350px;
        overflow: auto;
        border-radius: 12px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 15px;
        display: flex;
        flex-direction: column;
        padding: 30px;
        color: #2C3E50;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: yellowgreen;
            border-radius: 10px;
            visibility: hidden;
        }

        &:hover {

            &::-webkit-scrollbar-thumb {
                visibility: visible;
            }
        }

        .form {
            overflow: auto;

            .controls {
                margin-bottom: 1rem;

                input {
                    padding: 1rem .5rem;
                    width: 100%;
                    border-radius: .4rem;
                    border: .1px solid #D7BDE2;
                }
            }

            .control {
                margin-bottom: 2rem;

                .input {
                    padding: 1rem .5rem;
                    width: 100%;
                    border-radius: .4rem;
                    border: .1px solid #D7BDE2;
                }

                .radio {
                    width: 2rem;
                }
            }

            .save {
                display: flex;
                align-items: center;
                gap: 2rem;

                .btn-save {
                    background-color: blueviolet;
                    color: #fff;
                    padding: 1rem;
                    border: none;
                    outline: none;
                    border-radius: .4rem;
                    cursor: pointer;

                    &:hover {
                        background-color: #D7BDE2;
                        color: black;
                    }
                }

                .btn-cancel {
                    background-color: red;
                    color: #fff;
                    padding: 1rem;
                    border: none;
                    outline: none;
                    border-radius: .4rem;
                }
            }
        }

        .title {
            display: inline-block;
            text-align: left;
            margin-top: 10px;
        }

        body {
            flex: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.7rem;
            text-align: left;
        }

        .footer {
            margin-top: 5rem;
            flex: 20%;
            display: flex;
            align-items: center;

            button {
                width: 150px;
                height: 45px;
                margin: 10px;
                border: none;
                background-color: cornflowerblue;
                color: white;
                border-radius: 8px;
                font-size: 20px;
                cursor: pointer;
            }

            .cancelBtn {
                background-color: crimson;
            }

            .see {
                background-color: white;
                color: #2C3E50;
            }
        }

        .titleCloseBtn {
            display: flex;
            justify-content: flex-end;

            button {
                background-color: white;
                box-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 0.438);
                padding: .5rem;
                border-radius: .4rem;
                border: none;
                font-size: 25px;
                cursor: pointer;
                color: #2C3E50;
                position: fixed;
            }
        }
    }
}

@media (max-width: 900px) {
    .modalAdd {
        .modalContainer {
            height: 300px;

            .form {


                .controls {

                    .input {
                        padding: .7rem .5rem;
                    }
                }

                .control {

                    .input {
                        padding: .7rem .5rem;
                    }
                }
            }

            .title {
                font-size: .8rem;
            }

            .titleCloseBtn {
                display: flex;
                justify-content: flex-end;

                button {
                    padding: .5rem;
                    font-size: 20px;
                }
            }
        }

    }
}

@media (max-width: 660px) {
    .modalAdd {
        .modalContainer {
            height: 250px;

            .form {


                .controls {

                    .input {
                        padding: .5rem .5rem;
                    }
                }

                .control {

                    .input {
                        padding: .5rem .5rem;
                    }
                }
            }

            .title {
                font-size: .6rem;
            }

            .titleCloseBtn {
                display: flex;
                justify-content: flex-end;

                button {
                    padding: .5rem;
                    font-size: 17px;
                }
            }

            .save {
                display: flex;
                align-items: center;
                gap: 1rem;

                .btn-save {
                    background-color: blueviolet;
                    padding: .5rem;
                    font-size: 11px;
                }

                .btn-cancel {
                    background-color: red;
                    padding: .5rem;
                    font-size: 11px;
                }
            }
        }

    }
}

@media (max-width: 530px) {
    .modalAdd {
        .modalContainer {
            height: 200px;



            .title {
                font-size: .5rem;
            }

            .titleCloseBtn {

                button {
                    padding: .5rem;
                    font-size: 14px;
                }
            }

            .save {
                display: flex;
                align-items: center;
                gap: .6rem;

                .btn-save {
                    background-color: blueviolet;
                    padding: .5rem;
                    font-size: 9px;
                }

                .btn-cancel {
                    background-color: red;
                    padding: .5rem;
                    font-size: 9px;
                }
            }
        }

    }
}

@media (max-width: 490px) {
    .modalAdd {
        .modalContainer {
            height: 200px;



            .title {
                font-size: .5rem;
                display: inline-block;
                text-align: left;
                margin-top: 30px;
            }

            .titleCloseBtn {

                button {
                    padding: .5rem;
                    font-size: 10px;
                }
            }

            .save {
                display: flex;
                flex-wrap: wrap;
                gap: .6rem;

                .btn-save {
                    background-color: blueviolet;
                    padding: .5rem;
                    font-size: 9px;
                }

                .btn-cancel {
                    background-color: red;
                    padding: .5rem;
                    font-size: 9px;
                }
            }
        }

    }
}