.bloc-tabs {
    display: flex;
}

.tabs {

    padding: 10px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;

    h4 {
        text-transform: uppercase;
        color: rgb(118, 118, 160);
    }
}

.tabs:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
    background: white;
    border-bottom: 1px solid transparent;
}

.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: rgb(88, 147, 241);
}



button {
    border: none;

}

.content-tabs {
    flex-grow: 1;

    .desc {


        li {
            margin-bottom: 1rem;

            h5 {
                font-size: .9rem;
                font-weight: 600;
            }
        }
    }

    .content {
        .table-patient {
            .btn-blue {
                background-color: #17202A;
                color: #fff;
                padding: .4rem;
                outline: none;
                border: none;
                border-radius: .3rem;
                cursor: pointer;
            }
        }
    }

}

.content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
}

.content h2 {
    padding: 0px 0 5px 0px;
}

.content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
}

.content p {
    width: 100%;
    height: 100%;
}

.active-content {
    display: block;
}

@media (max-width: 1000px) {

    .tabs {

        h4 {
            text-transform: uppercase;
            font-size: 12px;
            color: rgb(118, 118, 160);
        }
    }
}

@media (max-width: 620px) {

    .content-tabs {
        .content {
            .table-patient {

                td {
                    padding: 8px 11px;
                    font-size: 11px;
                    font-weight: 600;
                    color: rgb(135, 122, 146);
                }

                th {
                    padding: 11px;
                    font-size: 12px;
                    font-weight: bold;
                    color: black;
                }
            }
        }
    }
}

@media (max-width: 588px) {

    .tabs {

        h4 {
            text-transform: uppercase;
            font-size: 10px;
            color: rgb(118, 118, 160);
        }
    }
}

@media (max-width: 547px) {

    .content-tabs {
        .content {
            .table-patient {

                td {
                    padding: 8px 11px;
                    font-size: 9px;
                    font-weight: 600;
                    color: rgb(135, 122, 146);
                }

                th {
                    padding: 11px;
                    font-size: 12px;
                    font-weight: bold;
                    color: black;
                }
            }
        }
    }
}

@media (max-width: 499px) {

    .content-tabs {
        .content {
            .table-patient {

                td {
                    padding: 8px 11px;
                    font-size: 9px;
                    font-weight: 600;
                    color: rgb(135, 122, 146);
                }

                th {
                    padding: 11px;
                    font-size: 10px;
                    font-weight: bold;
                    color: black;
                }
            }
        }
    }
}

@media (max-width: 499px) {

    .content-tabs {

        .content {
            .table-patient {

                td {
                    padding: 8px 11px;
                    font-size: 8px;
                    font-weight: 600;
                    color: rgb(135, 122, 146);
                }

                th {
                    padding: 11px;
                    font-size: 9px;
                    font-weight: bold;
                    color: black;
                }
            }
        }
    }
}

@media (max-width: 461px) {

    .content-tabs {
        .content {
            .table-patient {

                td {
                    padding: 8px 11px;
                    font-size: 11px;
                    font-weight: 600;
                    color: rgb(135, 122, 146);
                    display: block;
                }

                th {
                    padding: 11px;
                    font-size: 12px;
                    font-weight: bold;
                    color: black;
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 433px) {

    .top {

        .nav {
            display: block;

            h4 {
                font-size: .7rem;
                margin-bottom: .3rem;
            }

            .search {

                input {
                    border: none;
                    padding: .4rem .4rem;
                }

                margin-bottom: .6rem;
            }

            .btn-blue {
                margin: .3rem;

                .i-plus {
                    font-size: 10px;
                }
            }

        }
    }
}

@media (max-width: 400px) {
    .content-tabs {
        flex-grow: 1;

        .desc {


            li {
                margin-bottom: 1rem;

                h5 {
                    font-size: .8rem;
                    font-weight: 600;
                }

                p {
                    font-size: .7rem;
                }
            }
        }
    }
}

@media (max-width: 395px) {

    .tabs {

        h4 {
            text-transform: uppercase;
            font-size: 9px;
            color: rgb(118, 118, 160);
        }
    }
}

@media (max-width: 372px) {

    .tabs {

        h4 {
            text-transform: uppercase;
            font-size: 8px;
            color: rgb(118, 118, 160);
        }
    }

    .top {

        .nav {

            h4 {
                font-size: .7rem;
                margin-bottom: .3rem;
            }

            .search {
                width: 80%;

                input {
                    border: none;
                    padding: .4rem .4rem;
                    width: 100%;
                }

                margin-bottom: .6rem;
            }

        }
    }
}

@media (max-width: 349px) {

    .tabs {

        h4 {
            text-transform: uppercase;
            font-size: 7px;
            color: rgb(118, 118, 160);
        }
    }
}

@media (max-width: 326px) {

    .tabs {

        h4 {
            text-transform: uppercase;
            font-size: 6.5px;
            color: rgb(118, 118, 160);
        }
    }
}