.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2C3E50;
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    border-bottom: #fff .1px solid;
    padding: .4rem 0;

    .active {
        background-color: rgba(148, 201, 42, 0.842);
        border-radius: .4rem;
    }

    .logo {
        padding: 0 .6rem;

        a {
            color: yellowgreen;
        }
    }

    .left {
        display: flex;
        align-items: center;

        h5 {
            color: #fff;
            margin-left: .5rem;
            display: none;
        }

        li {
            padding: .5rem;
            font-weight: bold;
            font-size: 14px;
            color: #fff;
            border-radius: .4rem;

            a {
                color: #fff;
            }

            &:hover {
                background-color: rgba(153, 205, 50, 0.842);
                cursor: pointer;
                transition: all .5s;
                border-radius: .4rem;
            }
        }
    }

    .right {
        display: flex;
        align-items: center;

        h5 {
            display: none;
        }

        li {
            color: #fff;
            padding: .5rem 2rem;
            font-weight: bold;
            font-size: 14px;

            &:hover {
                color: rgba(100, 138, 26, 0.842);
                cursor: pointer;
                transition: all .5s;
            }

            .lang {
                position: relative;
            }

            .user {
                border: gray 1px solid;
                background-color: gray;
                width: 37px;
                height: 37px;
                border-radius: 50%;
            }

            .menu {
                background-color: #fff;
                border-radius: .3rem;
                box-shadow: #2c3e508e .1rem .1rem .2rem;
                position: absolute;
                padding: .8rem;

                li {
                    color: #2C3E50;
                    text-align: left;
                    cursor: pointer;

                    &:hover {
                        background-color: #969ba0a8;
                        border-radius: .3rem;
                    }
                }
            }
        }

        .language-wrapper {
            position: relative;

            .options {
                position: absolute;
                right: -.8rem;
                top: 2em;
                background-color: #fff;
                border-radius: 0.4em;
                padding: 0.4em 0.3em;
                box-shadow: #2c3e508e .1rem .1rem .2rem;

                .i-plus {
                    position: absolute;
                    right: .6rem;
                    z-index: 1000;
                    font-size: 22px;
                    top: -.8rem;
                    color: #fff;
                }

                &>* {
                    cursor: pointer;
                }

                .ln {
                    display: flex;
                }

                img {
                    width: 1.8rem;
                }

                li {
                    color: #2C3E50;

                    &:hover {
                        background-color: #969ba0a8;
                        border-radius: .3rem;
                    }
                }

                .an {
                    margin-left: .3rem;
                    margin-right: .2rem;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }
            }
        }

        h4 {
            border: none;
            font-size: 1rem;
            color: white;
            cursor: pointer;
        }

        .auth {
            display: flex;
            align-items: center;
            gap: -.4rem;
            margin-left: .6rem;

            a {
                margin: 0 .6rem;

                li {
                    color: #fff;
                    padding: .4rem .6rem;
                    background-color: rgba(0, 0, 0, 0.267);
                    border-radius: .4rem;

                    &:hover {
                        background-color: rgba(100, 138, 26, 0.842);
                        border-radius: .4rem;
                    }
                }
            }
        }
    }

}

@media (max-width: 1310px) {
    .navbar {
        .left {
            li {
                font-size: 11px;
            }
        }

        .right {
            li {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 1000px) {
    .navbar {
        .left {

            h5 {
                display: block;
            }
        }
    }
}

@media (max-width: 918px) {
    .navbar {
        .left {

            li {
                font-size: 12px;
            }
        }

        .right {

            li {
                font-size: 12px;
            }

            .language-wrapper {
                h4 {
                    font-size: 12px;
                }

                .options {
                    padding: 0.1em 0.1em;

                    img {
                        width: 1.3rem;
                    }

                    li {
                        font-size: .6rem;
                    }

                    .an {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 886px) {
    .navbar {
        .left {
            li {
                font-size: 10px;
            }
        }

        .right {
            li {
                font-size: 10px;
            }
        }
    }
}

@media (max-width: 784px) {
    .navbar {
        .left {
            li {
                font-size: 9px;
            }
        }

        .right {
            li {
                font-size: 9px;
            }
        }
    }
}

@media (max-width: 500px) {
    .navbar {

        .right {
            h5 {
                display: block;
                margin: 0 .8rem;
                color: white;
            }

            .auth {
                position: absolute;
                top: 3rem;
                right: 0;
                z-index: -1;
                padding: 0 2rem;
                background-color: #2C3E50;
                display: inline-block;
                border-top: .1rem solid #fff;
                transform: translateY(-140%);
                transition: all .4s;

                a {

                    li {
                        color: #fff;
                        padding: .5rem .7rem;
                        font-size: .7rem;

                        &:hover {
                            background-color: rgba(100, 138, 26, 0.842);
                            border-radius: .4rem;
                        }
                    }
                }
            }

            .auth--open {
                transform: translateY(0%);
            }
        }
    }
}