.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2C3E50;
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    border-bottom: #fff .1px solid;

    .active {
        background-color: #999da16c;
    }

    .logo {
        padding: 0 .6rem;

        a {
            color: yellowgreen;
        }
    }

    .left {
        display: flex;
        align-items: center;

        li {
            padding: .9rem 1.5rem;
            font-weight: bold;
            margin: 0 .3rem;
            font-size: 14px;
            color: #fff;

            a {
                color: #fff;
            }

            &:hover {
                color: yellowgreen;
                cursor: pointer;
                transition: all .5s;
            }
        }
    }

    .right {
        display: flex;
        align-items: center;

        li {
            color: #fff;
            padding: .5rem 2rem;
            font-weight: bold;
            font-size: 14px;

            &:hover {
                color: yellowgreen;
                cursor: pointer;
                transition: all .5s;
            }

            img {
                width: 1.5rem;
            }

            .user {
                border: gray 1px solid;
                background-color: gray;
                width: 37px;
                height: 37px;
                border-radius: 50%;
            }

            .menu {
                background-color: #fff;
                border-radius: .3rem;
                box-shadow: #2c3e508e .1rem .1rem .2rem;
                position: absolute;
                right: 1rem;
                padding: .8rem;

                li {
                    color: #2C3E50;
                    text-align: left;
                    cursor: pointer;

                    &:hover {
                        background-color: #969ba0a8;
                        border-radius: .3rem;
                    }
                }
            }
        }
    }

}