.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(34, 6, 29);
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    border-bottom: #fff .1px solid;

    .logo {
        padding: 0 .6rem;

        a {
            color: yellowgreen;
        }
    }

    .left {
        display: flex;
        align-items: center;

        li {
            padding: .9rem 1.5rem;
            font-weight: bold;
            margin: 0 .3rem;
            font-size: 14px;

            a {
                color: #fff;
            }

            &:hover {
                background-color: black;
                cursor: pointer;
                transition: all .5s;
            }
        }
    }

    .right {
        display: flex;
        align-items: center;

        li {
            color: #fff;
            padding: .5rem 2rem;
            font-weight: bold;
            font-size: 14px;

            &:hover {
                background-color: black;
                cursor: pointer;
                transition: all .5s;
            }
        }
    }

}