.filter {
    background-color: white;
    padding: .6rem 1.2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;

    .select {
        width: 45%;

        select {
            height: 2rem;
            padding: .2rem;
        }
    }

    .filterby {
        margin: 0 .8rem;
        width: 45%;
    }

    .control {
        width: 100%;

        .date {
            display: flex;
            gap: .4rem;
            align-items: center;
            width: 100%;

            .col {
                width: 50%;

                input {
                    padding: .5rem;
                    width: 100%;
                    border: none;
                    border: .1px solid rgba(148, 95, 198, 0.305);
                    font-weight: 600;
                    color: black;
                    border-radius: .4rem;

                    &::placeholder {
                        font-size: 12px;
                        font-weight: 300;
                    }
                }
            }
        }

        input {
            padding: .5rem;
            width: 100%;
            border: none;
            border: .1px solid rgba(148, 95, 198, 0.305);
            font-weight: 600;
            color: black;
            border-radius: .4rem;

            &::placeholder {
                font-size: 12px;
                font-weight: 300;
            }
        }
    }
}