.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    height: 43vw;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.301);
    position: fixed;
    background-color: #17202A;
    padding: .7rem;

    .active li {
        background-color: #999da16c;
        font-weight: 600;
        border-radius: .4rem;
    }

    li {
        color: white;
        margin-bottom: .4rem;
    }

    .dash {
        padding: 1rem .6rem;
        border-bottom: 1px solid white;

        a {
            color: black;
            font-weight: bold;
        }
    }

    .categories {
        li {
            padding: .6rem .6rem;
            font-size: 15px;

            a {
                font-weight: 500;
                color: white;
            }

            &:hover {
                background-color: #999da16c;
                font-weight: 600;
                cursor: pointer;
                border-radius: .4rem;
            }
        }
    }

}