.paiement {
    margin: 1rem 1rem;

    h2 {
        background-color: #fff;
        padding: .8rem;
        border-radius: .4rem;
    }

    .regle {
        background-color: #fff;
        margin: 1rem 0;
        padding: .8rem;

        hr {
            padding: .1rem;
            background-color: rgba(59, 59, 80, 0.699);
        }

        .methode {
            margin-bottom: 1rem;

            .partiel {
                display: flex;
                align-items: flex-end;
                gap: 1rem;
                flex-wrap: wrap;
                width: 100%;

                .partiel1 {
                    width: 45%;

                    .hidden {
                        display: none;
                    }
                }

                input {
                    width: 90%;
                    padding: .5rem;
                    border: rgb(179, 165, 192) .1px solid;
                    outline: none;
                    border-radius: .4rem;
                    margin-bottom: 1rem;
                }

                .payeur {
                    margin-top: 1rem;
                }
            }

            .submit {
                margin-top: 1rem;

                .btn-blue {
                    padding: 1rem 1.4rem;
                    font-size: large;

                    &:hover {
                        background-color: yellowgreen;
                        transition: .3s all;
                    }
                }
            }
        }
    }
}

@media (max-width: 650px) {
    .paiement {
        .regle {
            .methode {
                margin: .3rem .7rem;

                .partiel {
                    display: block;

                    .partiel1 {
                        width: 100%;
                    }

                    input {
                        width: 100%;
                        margin-bottom: 1.4rem;
                    }
                }

                .submit {

                    .btn-blue {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .paiement {
        h2 {
            font-size: 1.2rem;
        }
    }
}